
.card-container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1000px;
  position: absolute;
  z-index: 1;
  overflow: scroll;
  height: 600px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.8rem;
}

.card {
  width: calc(70.3% - 1.6rem);
  margin: 0.8rem;
  background: #fff;
  overflow: hidden;
  border-radius: .25rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05), 0 2px 15px rgba(0, 0, 0, 0.05);
  transition: box-shadow 300ms;
}
.card {
  display: flex;
  width: calc(100% - 1.6rem);
}
.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
}
.card--image {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  overflow: hidden;
}

.card {
  display: flex;
  width: calc(100% - 1.6rem);
}

.card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
}
.card--image {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  overflow: hidden;
}

.card--image img {
  height: 100%;
  width: auto;
}

  .card--image {
    width: 25%;
    min-width: 25%;
    padding-bottom: 25%;
  }
.card--image img {
  position: absolute;
  width: 100%;
  height: auto;
}
  .card--image img {
    height: 100%;
    width: auto;
  }

.card--content {
  padding: 0 1.5rem;
}
.card--category {
  font-size: .8em;
  letter-spacing: .1ch;
  padding-top: 1em;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
.card--image {
  width: 25%;
  min-width: 25%;
  padding-bottom: 25%;
}
.card--image img {
  position: absolute;
  width: 100%;
  height: auto;
}
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}